.competition {
  width: 320px;
  margin: 44px auto 20px auto;
}

.competition__text {
  padding: 0 20px;
  line-height: 30px;
  text-align: center;

  &--addition {
    display: none;
  }
}

.competition__wrapper {
  padding-top: 20px;
  padding-bottom: 27px;

  &--achievement,
  &--platform {
    padding-top: 37px;
    padding-bottom: 44px;
    background-color: #f2f2f2;
  }

  &--contacts {
    padding-top: 32px;
  }

  &--comment {
    padding-top: 40px;
  }
}

.competition__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.competition__inputs-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.competition__input-wrap {
  margin-bottom: 17px;
}

.competition__label {
  display: block;
  padding: 0;
  margin: 0 0 5px 22px;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;

  &--checkbox,
  &--radio {
    position: relative;
    display: block;
    width: 210px;
    padding: 0;
    margin: 0 0 52px 70px;
    font-size: 18px;
    color: #283645;
    text-transform: none;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--radio {
    margin-bottom: 45px;
  }
}

.competition__input {
  margin: 0;
  padding: 16px 20px 13px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5;
  border-radius: 2px;

  &--grow {
    width: 100%;
  }

  &--comment {
    min-height: 200px;
  }
}

.competition__input--checkbox + label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -70px;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.competition__input--checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -58px;
  width: 13px;
  height: 19px;
  transform: rotate(45deg);
  border-bottom: 1px solid #d22856;
  border-right: 1px solid #d22856;
}

.competition__input--radio + label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -70px;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.competition__input--radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -57px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #d22856;
}

.competition__legend {
  width: 240px;
  margin: 0 auto 45px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  text-transform: uppercase;

  &--contacts {
    display: none;
  }

  &--platform {
    margin-bottom: 40px;
  }

  &--comment {
    margin-bottom: 15px;
  }
}

.competition__btn {
  margin-top: 12px;
  padding: 18px 20px 15px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border-radius: 3px;
}

.competition__explanation {
  margin: 35px 0 0;
  text-transform: uppercase;
  text-align: center;

  &--star {
    color: #d22856;
  }

  &--addition {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .competition {
    width: 660px;
    margin-top: 92px;
  }

  .competition__text {
    width: 540px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 18px;

    &--addition {
      display: inline;
    }
  }

  .competition__form {
    display: flex;
    flex-direction: column;
  }

  .competition__wrapper {
    background-color: #ffffff;

    &--personality {
      padding-bottom: 0;
    }

    &--platform {
      padding-top: 7px;
      order: 1;
    }

    &--contacts {
      padding-top: 15px;
      order: 2;
    }

    &--achievement {
      padding-top: 30px;
      order: 3;
    }

    &--comment {
      padding-top: 11px;
      order: 4;
    }
  }

  .competition__fieldset {
    width: 620px;
    margin: 0 auto;
    border: 2px solid #e5e5e5;

    &--noborder {
      border: none;
    }
  }

  .competition__legend {
    width: auto;
    padding: 0 30px;

    &--contacts {
      display: block;
      margin-bottom: 27px;
    }

    &--achievement,
    &--comment {
      margin-bottom: 27px;
    }
  }

  .competition__inputs-wrapper {
    padding: 10px 60px 55px;

    &--personality {
      padding: 0;
    }

    &--contacts {
      padding-bottom: 25px;
    }

    &--achievement {
      padding-top: 20px;
    }

    &--comment {
      padding-bottom: 40px;
    }
  }

  .competition__input-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 52px;

    &--contacts {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .competition__input {
    &--grow {
      width: auto;
      flex-grow: 1;
    }

    &--phone,
    &--email {
      width: 100%;
      padding: 14px 17px 15px;
      order: -1;
      background-repeat: no-repeat, no-repeat;
      background-position: calc(100% - 20px) center, right center;
    }

    &--phone {
      background-image: url("../img/icon-phone.svg"), linear-gradient(to right, #e5e5e5 0%,#e5e5e5 100%);
      background-size: 20px 19px;
      background-size: 20px 19px, 60px 60px;
    }

    &--email {
      background-image: url("../img/icon-mail.svg"), linear-gradient(to right,#e5e5e5 0%,#e5e5e5 100%);
      background-size: 18px 13px, 60px 60px;
    }

    &--comment {
      width: 100%;
    }
  }

  .competition__label {
    margin-left: 0;
    margin-right: 22px;

    &--radio {
      margin-left: 57px;
    }

    &--contacts {
      margin-top: 10px;
      margin-bottom: 0;
      margin-left: 18px;
    }

    &--checkbox {
      margin-left: 57px;
    }
  }

  .competition__input--radio + label::before {
    left: -60px;
  }

  .competition__input--radio:checked + label::after {
    top: 6px;
    left: -47px;
  }

  .competition__input--checkbox + label::before {
    top: -2px;
    left: -59px;
  }

  .competition__input--checkbox:checked + label::after {
    top: 3px;
    left: -48px;
  }

  .competition__bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 25px 20px;
    order: 5;
  }

  .competition__btn {
    width: 300px;
    margin: 0;
  }
}
