.competition {
  width: 320px;
  margin: 44px auto 20px auto;
}

.competition__text {
  padding: 0 20px;
  line-height: 30px;
  text-align: center;

  &--addition {
    display: none;
  }
}

.competition__wrapper {
  padding-top: 20px;
  padding-bottom: 27px;

  &--achievement,
  &--platform {
    padding-top: 37px;
    padding-bottom: 44px;
    background-color: #f2f2f2;
  }

  &--contacts {
    padding-top: 32px;
  }

  &--comment {
    padding-top: 40px;
  }
}

.competition__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.competition__inputs-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.competition__input-wrap {
  margin-bottom: 17px;
}

.competition__label {
  display: block;
  padding: 0;
  margin: 0 0 5px 22px;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;

  &--checkbox,
  &--radio {
    position: relative;
    display: block;
    width: 210px;
    padding: 0;
    margin: 0 0 52px 70px;
    font-size: 18px;
    color: #283645;
    text-transform: none;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--radio {
    margin-bottom: 45px;
  }
}

.competition__input {
  width: 100%;
  margin: 0;
  padding: 16px 20px 13px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5;
  border-radius: 2px;

  &--comment {
    min-height: 200px;
  }
}

.competition__input--checkbox + label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -70px;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.competition__input--checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -58px;
  width: 13px;
  height: 19px;
  transform: rotate(45deg);
  border-bottom: 1px solid #d22856;
  border-right: 1px solid #d22856;
}

.competition__input--radio + label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -70px;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.competition__input--radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -57px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #d22856;
}

.competition__legend {
  width: 240px;
  margin: 0 auto 45px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  text-transform: uppercase;

  &--contacts {
    display: none;
  }

  &--platform {
    margin-bottom: 40px;
  }

  &--comment {
    margin-bottom: 15px;
  }
}

.competition__btn {
  margin-top: 12px;
  padding: 18px 20px 15px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border-radius: 3px;
}

.competition__explanation {
  margin: 35px 0 0;
  text-transform: uppercase;
  text-align: center;

  &--star {
    color: #d22856;
  }

  &--addition {
    display: none;
  }
}
