.contacts {
  margin-top: 45px;
}

.contacts__title-wrapper {
  width: 280px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.contacts__title {
  margin: 0;
}

.contacts__list {
  @include list-reset;
  width: 280px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
}

.contacts__field {
  display: block;
  margin-bottom: 22px;

  &--email {
    margin-top: 5px;
    margin-bottom: 25px;
  }

  &--address {
    margin-top: 5px;
  }
}

.contacts__text {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.contacts__field,
.contacts__address {
  font-size: 24px;
  line-height: 29px;
  color: #d22856;
}

.contacts__map {
  position: relative;
  background-color: #f2f2f2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    z-index: 6;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
  }
}

.contacts__map--wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.contacts__map-nojs .contacts__map-fallback {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
    z-index: 5;
    width: 36px;
    height: 35px;
    background-image: url("../img/icon-map-marker.svg");
  }
}

.contacts__map-js .contacts__map--wrapper {
  min-height: 200px;
}

.contacts__map-js .contacts__map-fallback {
  display: none;

  &::after {
    display: none;
  }
}

.contacts__map-fallback-img {
  position: absolute;
  top: -450px;
  left: 50%;
  transform: translateX(-50%);
}

.contacts__map-yandex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

@media (min-width: $tablet-width) {
  .contacts__title-wrapper {
    width: 620px;
    font-size: 40px;
    line-height: 48px;
  }

  .contacts__list {
    width: 620px;
    margin-top: 45px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item {
    width: 300px;
    margin-left: 0;
  }

  .contacts__field {
    position: relative;
    margin-bottom: 49px;

    &--mobile {
      margin-top: 5px;
    }

    &--address {
      margin-bottom: 0;
    }

    &--mobile:hover,
    &--mobile:focus,
    &--email:hover,
    &--email:focus {
      color: #283645;
    }

    &--mobile:hover::after,
    &--mobile:focus::after,
    &--mobile:active::after,
    &--email:hover::after,
    &--email:focus::after,
    &--email:active::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 2px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #283645;
    }

    &--mobile:active,
    &--email:active {
      color: #283645;
      opacity: 0.3;
    }

    &--mobile:active::after,
    &--email:active::after {
      opacity: 0.3;
    }
  }

  .contacts__map {
    margin-top: -3px;

    &::before {
      height: 65px;
    }
  }

  .contacts__map--wrapper {
    width: 100%;
  }

  .contacts__map-nojs .contacts__map-fallback {
    height: 375px;

    &::after {
      bottom: 145px;
    }
  }

  .contacts__map-js .contacts__map--wrapper {
    min-height: 375px;
  }

  .contacts__map-fallback-img {
    top: -325px;
  }

  .contacts__map-yandex {
    height: 375px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-top: 65px;
  }

  .contacts__title-wrapper {
    width: 640;
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__list {
    width: 940px;
    margin-top: 55px;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .contacts__item:nth-of-type(2) {
    order: 1;
  }

  .contacts__field {
    margin-top: 26px;
  }

  .contacts__map::before {
    height: 90px;
  }

  .contacts__map--wrapper {
    width: 100%;
  }

  .contacts__map-nojs .contacts__map-fallback {
    height: 488px;

    &::after {
      bottom: 203px;
    }
  }

  .contacts__map-fallback-img {
    top: -170px;
  }

  .contacts__map-js .contacts__map--wrapper {
    min-height: 488px;
  }

  .contacts__map-yandex {
    height: 488px;
  }
}
