.gallery {
  width: 320px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 42px;
}

.gallery__standart-list {
  @include list-reset;
}

.gallery__text {
  padding: 0 35px;
  margin-bottom: 48px;
  line-height: 30px;
  text-align: center;
}

.gallery__item {
  margin-bottom: 19px;
  padding: 0 20px;

  &--panorama {
    padding: 0;
  }
}

.gallery__post {
  padding: 17px;
  padding-bottom: 8px;
  background-color: #f2f2f2;

  &--panorama {
    position: relative;
    margin: 0 20px;

    &::before {
      content: "Панорама дня";
      position: absolute;
      top: -137px;
      right: 0;
      padding: 5px 20px 6px;
      font-size: 12px;
      line-height: 24px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      background-color: #d22856;
    }
 }
}

.gallery__post-author {
  margin: 0;
  font-weight: bold;
}

.gallery__post-time {
  font-weight: normal;
}

.gallery__post-text {
  margin: 0;
}

.gallery__likes-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gallery__likes-amount {
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
}

.gallery__likes-btn {
  display: block;
  width: 13px;
  height: 12px;
  margin-right: 18px;
  order: -1;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 13px 12px;
  border: 0;
}

@media (min-width: $tablet-width) {
  .gallery {
    width: 100%;
    margin-top: 92px;
    margin-bottom: 50px;
  }

  .gallery__text {
    width: 440px;
    margin: 0 auto;
    margin-bottom: 76px;
    padding: 0;
    font-size: 18px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__standart-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }

  .gallery__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    margin-bottom: 17px;
    padding: 0;

    &--panorama {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 48px;
    }

    &--standart {
      min-height: 455px;
    }
  }

  .gallery__item--panorama .gallery__image {
    width: 700px;
    min-height: 509px;
    margin: 0 auto;
  }

  .gallery__post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    width: 300px;
    padding: 25px 10px 25px 27px;

    &--panorama {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 620px;
      margin-left: auto;
      margin-right: auto;
      padding: 25px 10px 25px 27px;

      &::before {
        top: -452px;
      }
    }
  }

  .gallery__post-text {
    margin-bottom: 12px;

    &--panorama {
      margin-bottom: 0;
      order: 1;
    }
  }

  .gallery__likes-wrapper {
    margin-top: auto;
    justify-content: space-between;
    align-items: center;

    &--panorama {
      margin-top: 0;
    }
  }

  .gallery__likes-amount {
    margin: 0;
  }

  .gallery__likes-btn {
    margin-right: 20px;
    order: 1;

    &--panorama {
      margin-left: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    margin-bottom: 31px;
  }

  .gallery__list {
    justify-content: center;
  }

  .gallery__standart-list {
    width: 940px;
    margin: 0;
    justify-content: flex-start;
  }

  .gallery__text {
    width: 640px;
    margin-bottom: 87px;
  }

  .gallery__item {
    margin-bottom: 49px;

    &--standart {
      margin-right: 20px;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .gallery__item--panorama .gallery__image {
    width: 1200px;
    min-height: 506px;
  }

  .gallery__post--panorama {
    width: 940px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 42px;
  }

  .gallery__likes-btn--panorama {
    margin-right: 0;
  }
}
