.main-nav {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.main-nav--nojs {
  border-bottom: solid 1px #000000;
}

.main-nav--nojs .main-nav__toggle-btn {
  display: none;
}

.main-nav__toggle-btn {
  position: absolute;
  top: -21px;
  right: 19px;
  width: 50px;
  height: 24px;
  padding: 0;
  font-size: 0;
  border: none;
  background: transparent;
}

.main-nav__toggle-icon {
  fill: #ffffff;
}

.main-nav--closed .main-nav__toggle-icon--cross {
  display: none;
}

.main-nav--closed .site-list__item {
  display: none;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--opened .main-nav__toggle-btn {
  top: -24px;
  width: 24px;
  height: 23px;
}

.main-nav--opened .main-nav__toggle-icon--burger {
  display: none;
}

.main-nav__toggle-btn:hover .main-nav__toggle-icon,
.main-nav__toggle-btn:focus .main-nav__toggle-icon {
  fill: #d22856;
}

.main-nav__toggle-btn:active .main-nav__toggle-icon {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 960px;
  }

  .main-nav--nojs {
    border-bottom: none;
  }

  .main-nav__toggle-btn {
    display: none;
  }

  .main-nav--closed .site-list__item {
    display: block;
  }
}
