.site-list {
  @include list-reset;
  padding-top: 26px;
}

.site-list__item {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-bottom: solid 1px #000000;
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.15);
}

.site-list__link {
  display: block;
  padding-top: 16px;
  padding-bottom: 15px;
  word-wrap: break-word;
  color: #ffffff;

  &--active {
    padding-top: 14px;
    border-top: solid 1px #000000;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.15);
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    padding-top: 43px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0;
    padding-top: 12px;
  }

  .site-list__item {
    margin-left: 80px;
    font-weight: normal;
    border: none;
    box-shadow: none;
  }

  .site-list__link {
    padding: 0;
    text-transform: none;
    box-shadow: none;

    &--active {
      border: none;
    }
  }
}
