.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 180px;
  margin: 0 auto;
  margin-top: 44px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  padding: 0;
  margin: 0;
  margin-right: 9px;
  border: 3px solid #e9ebec;
  border-radius: 50%;

  &--youtube {
    position: relative;
    margin-right: 0;
  }
}

.social__icon--youtube {
  position: absolute;
  left: calc(50% - 5px);
}

@media (min-width: $tablet-width) {
  .social__list {
    margin: 0;
  }
  .social__link {
    width: 48px;
    height: 48px;
  }
}
