.main-button {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 13px;
  text-align: center;
  word-wrap: break-word;
  font-size: 18px;
  font-weight: bold;
  border-radius: 28px;
  border: solid 3px #ffffff;
  background-color: transparent;
  cursor: pointer;
}
